html, body {
  margin: 0;
  padding: 0;
}
.tab {
  overflow: hidden;
  border: 1px solid #0076CE;
  background-color: #0076CE;
}

.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #8BBEE8;
}

.tab button.active {
  background-color: #8BBEE8;
}