#objects-list {
    th {
      background-color: #8BBEE8;
      text-align: center;
    }
  
    td {
      background-color: #FFFFFF;
      border: 1px solid rgb(0, 118, 206);
      padding: 30px;
    }
}